body{
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	font-size: 20px;
}
*{
	padding: 0;
	margin: 0;
}
.back{
	width: 1278px;
	height: 370px;
	background:  #F0F0F0;
	margin-top:140px;
	opacity: 0.5;
}
.pic{
	width: 280px;
	height: 280px;
	margin-left: 250px;
	padding-top: 40px;
	float: left;
}
.pic img{
	max-width: 100%;
	max-height: 100%;

}
.logo{
	width: 360px;
	height: 280px;
	margin-left: 450px;
	padding-top: 30px;
}
.welcom{
	text-align: center;
	margin-top: 30px;
}
.in{
	height: 46px;
	padding: 0 5px;
	margin-bottom: 30px;
	border-radius: 50px;
	position: relative;
	border: rgba(255,255,255,0.2) 1px solid ;
	border-color:  #FF60AF;
}
.user{
	width: 25px;
	height: 25px;
	background: url(../images/login_ico.png);
	background-position:  -125px 0;
	position: absolute;
	margin: 10px 13px;
}
.uer{
	width: 25px;
	height: 25px;
	background-image: url(../images/login_ico.png);
	background-position: -125px -34px;
	position: absolute;
	margin: 10px 13px;
}
.text{
	width: 220px;
	height: 46px;
	outline: none;
	display: inline-block;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	margin-left: 50px;
	border: none;
	background: none;
	line-height: 46px;
}
.mb2{
	margin-bottom: 20px;
	margin-left: 150px;
}
.submit {
	padding: 15px;
	margin-top: 20px;
	display: block;
	background:#F0F0F0  ;
	border-radius: 50px;
	background: rgba(255, 255, 255, 0.5);  
}

button {
	outline: none;
}
.rate{
	width: 1278px;
	height: 12px;	
	border: 1px solid #F0F0F0;
}

#line{
	float: left;
	height: 12px;
	overflow: hidden;
	background: #ffaad5 ;
	border-radius: 8px;
} 
#msg{
	position:absolute;
	left: 40px;
	margin-top: -22px;
	display: inline-block;
	font-size: 16px;
	color:  #00E3E3 ;
}
#percent{
	margin-top: -27px;
}